<div class="container-narrow">

<h2>Update your listing</h2>

<hr>

<%= render 'form' %>

<%= link_to 'View', @office %> |
<%= link_to 'Back', offices_path %>

<hr>

<%= link_to "View all listings", offices_path, class: "btn btn-medium" %>
