<div class="container">
      <h2>About Us</h2>
      <p>We are a small team inside Intuit Labs working hard to create new products and services to help small business owners connect with each other to save money, make money and get advise.
      </p>
      <h2>Contact Us</h2>
      <p>
        Questions or feedback? Send a note to the 
        <a href="mailto:tradewinz@intuit.com?subject=Feedback" class="btn-link">Tradewinz team</a>
      </p>
</div>