
<div class="container">      

<h1>Save money on renting studio</h1>


<div class="row" style="margin-top:20px">
  <div class="span6">
    <%= image_tag("studio.png", class: "img-polaroid", alt: "studio rental") %>
    <h5>$500 for a 300 sq. ft. studio in San Francisco, CA</h5>
  </div>
  
  <div class="span6" style="text-align:center">
    <h3>Tell us what you need. </h3>
    <h3>We will find the studio. </h3>

    <div class="span6" style="margin-top:20px">
      <a href="/offices"> 
        <button class="btn btn-large btn-primary input-block-level"> See Listings </button>
      </a>
    </div>
     
  </div>
    
</div>

</div>

<div class="row" style="margin-top:20px">
  <div class="span12">
    <h2>Why list your space on Tradewinz?</h2>
  </div>

  <div class="span6 left">
  <div class="row">
   <div class="span1"> <img src="http://placehold.it/35x35" /></div>
   <div class="span5">
  <h4>No listing or membership fees</h4>
   You get 100% of the rent. We are doing this to support small businesses in the USA. We succeed when you succeed.
  </div>
  
  </div>

  </div>
  <div class="span6 right">
   <div class="row">
   <div class="span1"> <img src="http://placehold.it/35x35" /></div>
   <div class="span5">
   <h4>Get pre-screened applicants</h4>
   We recruit and screen local, reliable applicants for you, many of whom are like-minded entrepreneurs you may enjoy meeting.
</div>
</div>
</div> 


<div class="span6 left">
  <div class="row">
   <div class="span1"> <img src="http://placehold.it/35x35" /></div>
  <div class="span5">
  <h4>Trusted brand</h4>
   From the makers of Quickbooks and Turbo Tax - over 6M small businesses trust us to help with their finances.
  </div>
  </div>

  </div>
  <div class="span6 right">
   <div class="row">
   <div class="span1"> <img src="http://placehold.it/35x35" /></div>
   <div class="span5">
   <h4>No spam</h4>
     You contact information is private, you approve who can see it. You'll also get metrics to track how much interest
     your listing generates.
</div>
</div>
</div> 
</div>

	
</div> <!-- /container -->