<!DOCTYPE html>
<html>
  <head>
    <title>About Tradewinz</title>
    <!-- Bootstrap -->
    <link href="../assets/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container-narrow">
      <h1>Contact Tradewinz</h1>
      <p>
        Questions or feedback? Send a note to the <a href="mailto:tradewinz@intuit.com?subject=Feedback about your service">Tradewinz team</a>.
      </p>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../assets/bootstrap.min.js"></script>
  </body>
</html>