<div class="container-narrow">
      <h2>About Us</h2>
      <p>We are a small team inside Intuit Labs working hard to create new products and services to help small business owners connect with each other to save money, make money and get advise.</p>
</div>