
<p><%= @office.contact_name %>,</p>

<p>Thank you for listing your office with Tradewinz!</p>

<p><%= link_to 'View your listing', office_url(@office) %></p>
<p><%= link_to "Edit your listing", edit_office_url(@office) %></p>